.header {
    background-color: #54b7ff;

    padding: 0 10px;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerHelp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}