
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    min-height: 735px;
    min-width: 500px;

    background-color: #cecece;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: calc(100vh - 75px);
    min-width: 600px;
}

.spaceBetweenContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexRowContainer {
    display: flex;
    flex-direction: row;
}

.flex1ColumnContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.tooltip {
    margin-right: 5px;
    margin-left: 5px;

    position: relative;
    display: inline-block;
}

.tooltip .tooltipImage {
    visibility: hidden;
    width: 150px;
    background-color: #1d1d1b;
    color: #fff;
    text-align: left;
    padding: 5px 15px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    right: -120%; /* This one is maybe too hardcoded? */
    margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltipImage {
    visibility: visible;
}

.tooltipSubDiv {
    margin: 10px 0;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 150px;
    background-color: #1d1d1b;
    color: #fff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.tooltipTextHeader {
    visibility: hidden;
    width: 350px;
    background-color: #1d1d1b;
    color: #fff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -400%;
    margin-left: -25px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltipTextHeader {
    visibility: visible;
}